.itinerariesContainer {
  height: 250px;
  overflow: auto;
  background: whitesmoke;
  padding: 0.5em;
  box-shadow: inset 2px 2px 4px 0px #00000042;
  border-radius: 4px;
  border: 1px solid hsla(0, 0%, 0%, 0.05);
}

.itinerariesContainer .itinerary {
  margin: 0 0 0.3em;
  padding: 0.75em 0.75em 0.5em;
}

.itinerariesContainer .itinerary h3 {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 0.2em;
}

.itinerariesContainer .itinerary p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 0em;
  line-height: 1.4;
  color: rgb(26, 26, 26);
}

.itinerariesContainer .itinerary p:last-of-type {
  margin: 0em;
}

.xOut {
  /* background: hsla(0, 0%, 0%, 0.25); */
  top: -0.4em;
  right: -0.3em;
  align-content: center;
  justify-content: center;
  padding: 0px 0.5px;
  font-size: 0.9em;
  line-height: 1.5;
  background: whitesmoke;
  color: hsla(0, 0%, 0%, 0.3);
  box-shadow: inset 2px 1px 2px 0px hsla(0, 0%, 0%, 0.1);
  border: none;
}

.xOut:hover {
  color: white;
  background: hsla(354, 70%, 54%, 0.9);
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
}
