.itinForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 250px;
  align-items: center;
  /* background: linear-gradient(180deg,
    var(--teal100) 0%,
    var(--white) 1%,
    var(--white) 100%)
    !important; */
}

.itinFormWrap {
  min-width: 260px;
}

@media ((min-width: 390px) and (max-width: 670px)) {
  /*  */
}

.itinForm h2 {
  font-size: 1.25em;
  font-weight: 600;
}

.itinSaves {
  margin-top: auto;
  background: hsla(174, 100%, 98%, 1) !important;
  min-width: 206px;
  /* background: linear-gradient(180deg,
    var(--teal100) 0%,
    var(--white) 5%,
    var(--white) 100%)
    !important; */
}

.itinSaves h4 {
  /* font-size: 0.6em; */
  font-weight: 600;
}

.itinSaves p {
  margin: 0em 0 0.5em 0;
}

.itinSaves p:last-of-type {
  margin: 0em 0 0em 0;
}
