@import './colors.css';
@import './dh-common/_dh-main.css';
@import './tyography.css';
@import './header-footer.css';
@import './buttons.css';

:root {
  --font-head: 'Baloo 2', sans-serif;
  --font-copy: 'Baloo 2', sans-serif;
}

a {
  color: var(--teal900);
  /* text-decoration: none; */
}

a:hover {
  color: var(--teal300);
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background: var(--white);
  font-family: var(--font-copy);
  font-size: 1em;
}

main.container {
  max-width: 1200px;
  margin: 1em auto;
  padding: 0 2em;
  /*  */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 700px) {
  main.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
  }
}

aside {
  max-width: 30%;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  aside {
    width: 80%;
    max-width: initial;
    margin-bottom: 1em;
    margin-right: 0em;
  }
}

@media (max-width: 500px) {
  aside {
    width: 77%;
    max-width: initial;
    margin-bottom: 1em;
    margin-right: 0em;
  }
}

.previewContainer {
  width: 70%;
  text-align: center;
}

@media (max-width: 700px) {
  .previewContainer {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .previewContainer {
    width: 77%;
  }
}

.flexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.selector__park {
  margin: 0 0 1em;
}
.selector__eatery {
  margin: 0 0 1em;
}
.selector__attraction {
  margin: 0 0 1em;
}

.preview__park {
  width: 100%;
  margin: 0 0 1em;
}

.preview__eatery {
  width: 100%;
  margin: 0 0 1em;
}

.preview__attraction {
  width: 100%;
  margin: 0 0 1em;
}

.preview__park h4,
.preview__eatery h4,
.preview__attraction h4 {
  font-weight: 600;
  text-align: left;
}

.preview__park button,
.preview__eatery button,
.preview__attraction button {
  font-weight: 500;
  font-size: 0.9em;
  padding: 0.3rem 0.5rem 0.2em;
  border: none;
  background: var(--teal300);
  color: white;
  text-align: left;
}

.preview__park button:hover,
.preview__eatery button:hover,
.preview__attraction button:hover {
  background: var(--teal900);
  color: white;
}

.preview__park p,
.preview__eatery p,
.preview__attraction p {
  margin: 0 0 0.5em;
  text-align: left;
}

.box {
  padding: 1em 2em 1em;
  border-radius: 3px;
  box-shadow: 0px 2px 10px -10px black;
  border: 1px solid rgba(128, 128, 128, 0.2);
  background: hsl(0, 0%, 100%);
}

.box h3 {
  font-weight: 600 !important;
}

#button--saveItinerary {
  color: white !important;
  background: var(--teal500);
}

#button--saveItinerary:hover {
  color: white;
  background: var(--teal900);
}

.itinerariesContainer {
  height: 250px;
  overflow: auto;
  margin-top: auto;
}

.itinerariesContainer .itinerary {
}

.itinerariesContainer .itinerary h3 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 0.25em;
}

.itinerariesContainer .itinerary p {
  font-size: 0.85em;
  font-weight: 500;
  margin: 0 0 0em;
  line-height: 1.5;
}

.itinerariesContainer .itinerary p:last-of-type {
  margin: 0em;
}
