@import './dh-common/_dh-main.css';
@import './colors.css';
@import './tyography.css';
@import './header-footer.css';
@import './buttons.css';
@import './scrollbar.css';
@import './dialog.css';
@import './itin-Preview.css';
@import './itin-container.css';

:root {
  --font-head: 'Baloo 2', sans-serif;
  --font-copy: 'Baloo 2', sans-serif;
}

a {
  color: var(--indigo900);
}

a:hover {
  color: var(--indigo300);
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background: var(--white);
  font-family: var(--font-copy);
  font-size: 1em;
}

main.container {
  max-width: 1200px;
  margin: 1em auto;
  padding: 0 2em 0.5em;
  /*  */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 700px) {
  main.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

aside {
  max-width: 30%;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  aside {
    width: 80%;
    max-width: initial;
    margin-bottom: 1em;
    margin-right: 0em;
  }
}

@media (max-width: 500px) {
  aside {
    width: 77%;
    max-width: initial;
    margin-bottom: 1em;
    margin-right: 0em;
  }
}

.previewContainer {
  width: 70%;
  text-align: center;
  min-height: 560.11px;
}

@media (max-width: 700px) {
  .previewContainer {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .previewContainer {
    width: 77%;
  }
}

.flexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  padding: 1em 2em 1em;
  border-radius: 3px;
  box-shadow: 0px 2px 10px -10px black;
  border: 1px solid rgba(128, 128, 128, 0.2);
  background: hsl(0, 0%, 100%);
}

.box h3 {
  font-weight: 600 !important;
}

@media (max-width: 700px) {
  .box h3 {
    text-align: left;
  }
}
